{{#partial "contenido"}}

<form role="form" action="/" method="POST">
  <div class="form-group">
    <label for="user">Email address:</label>
    <input type="user" class="form-control" id="user">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pass">
  </div>
  <button type="submit" class="btn btn-default">Logearse</button>
</form>
{{/partial}}

{{>layout.hbs}}