{{#partial "contenido"}}

<div class="panel panel-primary">
  <div class="panel-heading">{{nombre}}</div>
  <div class="panel-body">
   <label for="text">Comuna: {{nombreComuna}}</label><br>
   <BR>
  <label for="text">Acciones:</label><br>
    <div class="checkbox">
      <label><input type="checkbox" value=""disabled checked="checked">Almacenar búsquedas</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value=""disabled checked="checked">Notificar por mail</label>
    </div>
  </div>
</div>

{{/partial}}


{{>BaseAdmin.hbs}}
