{{#partial "contenido"}}

<form role="form" action="/" method="POST">
  <div class="form-group">
    <label for="text">Palabra clave: </label>
    <input type="text" class="form-control" id="palabraClave">
  </div>
  <div class="form-group">
    <label for="text">Servicio:</label>
    <input type="text" class="form-control" id="servicio">
  </div>
  <button type="submit" class="btn btn-default">Buscar</button>
</form>

<table class="table table-striped">
  	<tr>
		<th>Nombre</th>
		<th>Latitud</th>
		<th>Longitud</th>
		<th>Radio de Cercania</th>
		<th>Ver</th>
	</tr>
	<tr>
		<td>Ejemplo</td>
		<td>Ejemplo</td>
		<td>Ejemplo</td>
		<td>Ejemplo</td>
		<td><a href="#"><span class="glyphicon glyphicon-search"></span></a>
		</td>
	</tr>
	<tr>
		<td>Ejemplo</td>
		<td>Ejemplo</td>
		<td>Ejemplo</td>
		<td>Ejemplo</td>
		<td><a href="#"><span class="glyphicon glyphicon-search"></span></a>
		</td>
	</tr>
</table>
{{/partial}}


{{>Base.hbs}}